@font-face {
    font-family: "moonl";
    src: url('../fonts/Moon Light.otf') format("woff");
}
@font-face {
    font-family: "moonb";
    src: url('../fonts/Moon Bold.otf') format("woff");
}
:root{
	--color-a:#005c4c;
	--color-b:#07352d;
	--color-c:#19bb9f;
	--color-d:#b6eae1;
	--color-btn-a:#e01313;
	--color-btn-b:#a70f0f;
	--footer-color:#191515;
	--footer-font-color:#ffffff;
	--border-b:#012b24;
	--padding-btn:10px 15px;
	--radius-btn:2px;
}
*{
	padding:0;
	margin:0;
}
@media screen and (min-width: 1024px)
{
	body
	{
		background-image: url('../images/bg.jpg');
	}
}
@media screen and (max-width: 1024px)
{	
	html
	{
 		height:100%;
 		min-height:100%;
 	}	
	body
	{
		background-image: url('../images/bg.jpg');
		background-position:center;
		background-repeat: none;
	}
}
body{
	background-size: cover;
	background-attachment: fixed;
	width:100%;
	font-family: "moonl";
	font-size: 10px;
	display: block;
}
i.camera-logo{
	font-size:35px;
	position:relative;
	top:4px;
	right:10px
}
.head-icon{
	font-size:40px;
	letter-spacing:10px;
	font-weight:lighter;
	font-family:"moonl";
}
.head-ocr{
	font-family:"moonb";
}
.head-logo{
	height:30px;
	width:30px;
	margin-right:10px;
	position:relative;
	top:3px;
}
.header{
	box-sizing: border-box;
	position: fixed;
	z-index: 1;
	color:var(--color-a);
	width:100%;
	height:10%;
	padding:10px 30px;
}
.form-div{
	position:relative;
	z-index:0;
	height:100vh;
}
.form{
	position:absolute;
	z-index:0;
	top: 60%;
	left: 50%;
	margin: -100px 0 0 -150px;
}
.form-class{
	display:block;
	width:250px;
}
#image-view{
	position: fixed;
	z-index:1;
	display:none;
}
#file-upload-label{
	box-sizing:border-box;
	position:fixed;
	z-index:2;
}
@keyframes button-appear{
	from {
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#file-upload-label-mobile{
	box-shadow:2px 2px 3px 0px rgb(153, 151, 151);
	opacity: 0;
    display: initial;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
    color: white;
    background: var(--color-a);
    padding: 20px;
	border-radius: 50px;
	animation: button-appear 1s linear 1s 1 normal forwards;
}
#file-upload-label-mobile:hover{
	background-color: var(--color-b)
}
.inputfile,#submit-btn{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}
.input-btn	 {
	z-index:2;
	background-color: var(--color-btn-a);
	border:none;
	width:100%;
	border-radius: var(--radius-btn);
	padding:var(--padding-btn);
	cursor:pointer;
	font-size:20px;
	color:white;
}
.inputfile + label {
	z-index:2;
	position:fixed;
	top:65%;
    color: white;
    background-color: var(--color-a);
    width:250px;
    text-align: center;
   	padding:var(--padding-btn);
    border-radius:var(--radius-btn);
    display: inline-block;
    cursor: pointer;
    font-size:20px;
}
.input-btn:hover, .input-btn:active{
	background-color:var(--color-btn-b);
}
.input-btn:focus{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile:hover + label{
cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover ,
#submit-btn:focus,
#submit-btn:hover{
    background-color: var(--color-b);
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.link-new{
	text-decoration: none;
	color:white;
}
.link-new:hover{
	color:var(--color-c);
}
.footer{
	position: relative;
	z-index:3;
	box-sizing: border-box;
	background:var(--footer-color);
	color:var(--footer-font-color);
	width:100%;
	height:50px;
	padding:15px;
	font-size:13px;
}
.footer-left{
	float:left;
}
.footer-right{
	float:right;
}
i.github-icon{
	font-size:20px;
	color:white;
}
i.github-icon:hover,i.github-icon:focus{
	color:#00b4ff;
}
.help-div{
	position: relative;
	z-index: 3;
	box-sizing: border-box;
	background: rgba(0, 92, 76, 0.95);
	padding:30px;
}
.contact-div{
	position: relative;
	z-index: 3;
	box-sizing: border-box;
	background: rgb(4, 66, 55);
	padding:30px;
}
.help-col,.feed-col{
	box-sizing: border-box;
	color:white;
	border-radius: 5px;
	padding:30px;
	font-size: 20px;
}
.feed-form>input[type=submit]:hover{
	background-color:var(--color-btn-b);
}
.image-crop{
	margin: auto;
    border-width: 20px;
    border-style: solid;
    border-image: url('../images/border.png') 50 round;
        touch-action: none;
	position: fixed;
	z-index:2;
	display:none;
	box-sizing:border-box;
}
#img-box{
	position:fixed;
	display: inline-block;
}
@keyframes anim-msg {
	from 
	{
		top:0;
		opacity:1;
	}
	to{
		top:-10%;
		opacity:0;
	}
}
@keyframes loading-gif{
	20%{
		width:15px;
		height:15px;
		border-radius:15px;
	}
	40%{
		width:10px;
		height:10px;
		border-radius:10px;
	}
}
@keyframes feed-loading-anim{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}

@keyframes rotate-anim{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(180deg);
	}
}
@keyframes rotate-anim-rev{
	from{
		transform:rotate(180deg);
	}
	to{
		transform:rotate(0deg);
	}
}
.aboutus{
	font-size: 14px;
	text-align: left;
	line-height:1.8;
}
@media (max-width:1024px)
{
	.aboutus{
		font-size: 10px;
	}
}
@media (min-width: 1024px)
{
	.creators>li{
	display:inline;
	}
}
.aboutus>div>a{
	color:white;
}
.about>div>a{
	color:var(--color-d);
}
.creators{
	line-height: 2;
}
.creators>li{
	list-style: none;
}
.creators>li>a{
	text-decoration: none;
	color:white;
	font-family: 'moonb'
}
.creators>li>a:hover{
	color:var(--color-d);
}
.message{
	position:fixed;
	top:0;
	width:100%;
	text-align: center;
	font-weight: bolder;
	font-size:15px;
	color:white;
	list-style:none;
	z-index:10;
	animation: anim-msg 1s cubic-bezier(0.26, 0.54, 0.7, 0.65) 5s 1 normal;
	animation-fill-mode: forwards;
}
.success,.error{
	padding:10px;
	background:#42ad1a;
}
.error{
	background:var(--color-btn-a);
}
/* CSS Grid */
.row{
	width:100%;
}
.column-4>h1,.column-6>h1{
	font-size:20px;
	letter-spacing: 3px;
	font-weight: lighter;
	margin-bottom: 15px;
	padding-bottom:10px;
}
.form-class>input[type=radio]{
	display: none;
}
.choice-div .column-4{
	height: initial;
}
@media screen and (min-width:1024px)
{
	.row{
		display:flex;
	}
	.help-col{
		margin:5px;
	}
	.column-4{
		padding:10px;
		width:32%;
		text-align:center;
		display: inline-block;
	}
	.column-6{
		padding:10px;
		width:49%;
		text-align:center;
		display: inline-block;
	}
	.feed-form>input{
		width:45%;
		margin-top:20px;
		padding:10px;
		border:none;
		border-radius: 2px;
	}
	.feed-form>textarea{
		margin-top:20px;
		padding:10px;
		border:none;
		border-radius:2px;
		width:94%;
		height:100px;
	}
	.feed-form>input[type=submit]{
		width:97%;
		background-color:var(--color-btn-a);
		color:white;
	}
}
@media screen and (max-width:1024px)
{
	.form{
		left:60%;
	}
	.help-col{
		margin-top:20px;
	}
	.column-4{
		box-sizing: border-box;
		padding:10px;
		width:100%;
		text-align:center;
		display: block;
	}
	.column-6{
		box-sizing: border-box;
		padding:10px;
		width:100%;
		text-align:center;
		display: block;
	}
	.feed-col{
		height:350px;
	}
	/*.feed-form{
		position: absolute;
		width:80%;
	}*/
	.feed-form>input{
		width:93%;
		margin-top:20px;
		padding:10px;
		border:none;
		border-radius: 2px;
	}
	.feed-form>textarea{
		margin-top:20px;
		padding:10px;
		border:none;
		border-radius:2px;
		width:93%;
		height:100px;
	}
	.feed-form>input[type=submit]{
		width:100%;
		background-color:var(--color-btn-a);
		color:white;
	}
	.answer-div{
		font-size:20px;
	}
}
@media (max-width:400px)
{
	.head-icon{
		font-size:35px;
	}
}
@media (max-width:320px)
{
	.head-icon{
		font-size:30px;
	}
}

#progress-wrp {
    height: 3px;
    width:100vh;
    border-radius: 0;
    margin: auto;
    color:white;
    letter-spacing: 3px;
    font-size:20px;
    text-align: center;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}
#progress-wrp .progress-bar{
    height: 100%;
    border-radius: 0;
    background-color: var(--color-c);
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp .status{
    display:none;
}
.overlay{
	display: none;
	position:fixed;
	width:100%;
	height:100%;
	padding-top:50vh;
	z-index:10;
	background-color:rgba(0, 0, 0, 0.81);
}
#process-wrp,#failed-wrp{
	display:none;
	color:white;
	font-size:20px;
	letter-spacing:3px;
	text-align:center;
}
.load-gif{
	width:10px;
	height:10px;
	background: var(--color-c);
	border:1px solid var(--color-c);
	border-radius:10px;
}
#gif-1{
	animation: loading-gif 1s linear 0s infinite normal;
}
#gif-2{
	animation: loading-gif 1s linear 0.2s infinite normal;
}
#gif-3{
	animation: loading-gif 1s linear 0.4s infinite normal;
}
#gif-4{
	animation: loading-gif 1s linear 0.6s infinite normal;
}
#gif-5{
	animation: loading-gif 1s linear 0.8s infinite normal;
}
#gif-1,#gif-2,#gif-3,#gif-4,#gif-5{
	display: inline-block;
}
.answer-div{
	display:none;
	box-sizing: border-box;
	font-size: 20px;
	width:100%;
	padding:10px;
	position:fixed;
	bottom:0px;
	z-index:11;
	background:var(--color-a);
}
.answer-div>*{
	display:block;
}
.answer{
	line-height: 1.5;
	display:inline;
	font-size:20px;
	color:white;
	text-align: center;
	letter-spacing: 4px;
	font-family: Arial, Helvetica, sans-serif;
}
body.overlay-open { overflow: hidden; }

#div-img, #div-bg{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	margin:auto;
	background-position: center;
	background-size: cover;
}
#div-bg{
	z-index: 2;
}
#div-img{
	z-index: 3;
}
.num-box{
	background:rgba(0, 0, 0, 0.39);
	position:absolute;
	color:white;
	text-align:center;
}
#close-btn{
	position:fixed;
	top:10px;
	right:10px;
	z-index: 2;
}
.change-box-btn{
	display:none;
	position:fixed;
	top:10px;
	left:10px;
	width:40px;
	height:20px;
	border-radius: 20px;
	background:var(--color-d);
}
.change-box-btn-circle{
	position: absolute;
    background: var(--color-b);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 3px;
    left: 2px;
}
#feed-btn{
	display: none;
    font-family: monospace;
    position: fixed;
    top: 9px;
    background-color: var(--color-d);
    color: var(--color-);
    left: 60px;
    z-index: 11;
    padding: 5px 7px;
    border-radius: 2px;
}
#feed-btn:hover,#feed-btn:focus,#feed-btn:active{
	background-color:var(--color-c);
}
#feed-btn:hover{
	cursor:pointer;
}
#close-btn>a{
	color:white;
	text-decoration: none;
	font-size:40px;
}
#close-btn>a:hover{
	color:grey;
}
.selected-num{
	background:rgba(1, 1, 1, 0.39);
}
.choice-div{
	position: relative;
	background:rgba(0, 92, 74, 0.43);
	display:none;
	z-index:3;
}
.equation-div{
	font-family: monospace;
	color:white;
	display:none;
}
.equation-list>li{
	font-family: Arial, Helvetica, sans-serif;
	list-style:none;
	letter-spacing: 4px;
	line-height: 2;
}
#more-btn{
	position:fixed;
	color:white;
	right:5px;
	bottom:5px;
	font-size: 20px;
	z-index:11;
	display:none;
}
#more-btn:focus,#more-btn:hover,#more-btn:active
{
	color:var(--color-d);
}
#more-btn:hover{
	cursor:pointer;
}
.rotate{
	animation:rotate-anim 0.5s linear 0s 1 normal;
	animation-fill-mode:forwards;
}
.not-rotate{
	animation:rotate-anim-rev 0.5s linear 0s 1 normal;
	animation-direction:forwards;
}
#equation-header{
	text-align: center;
	font-size: 15px;
	font-family: "moonl";
	letter-spacing: 2px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom:1px solid white;
}
.equation{
	text-align:left;
}


#answer-header {
	font-family: 'moonl';
	font-size: 15px;
    text-align: center;
    margin-bottom: 3px;
    padding-bottom: 5px;
    color: white;
    letter-spacing: 3px;
	border-bottom:1px solid white;
}

.user-logo{
	width:20%;
	height:20%;
}

/*Camview*/
.form-vid{
	position:fixed;
	width:100%;
	height: 80vh;
	top: 15vh;
}
#video {
	position: fixed;
	width:100%;
	height:80%;
}
#snap , #rotate-btn{
	color:var(--color-b);
	font-size: 20px;
	width:50px;
	height:50px;
	padding:5px;
	background: white;
	border:none;
	border-radius: 50px;
	position: relative;
	bottom:-30px;
	z-index:3;
}
#rotate-btn{
	right:70px;
}
#snap:hover{
	background-color: white;
	cursor: pointer;
}
#cap-btn, #rot-btn{
	position:absolute;
	width:100%;
	bottom:10vh;
	text-align: center;
}
.hidden-div{
	display:none;
}
#crop-hand-div{
	display:none;
	position:absolute;
    border: 2px solid white;
	width:100%;
	height:100%;
	z-index:2;
}
#view-div{
	margin:auto;
}
#crop-hand-div,
#crop-hand-div * {
  -ms-touch-action: none;
  touch-action: none;
}

.menu>div{
	display:inline;
	padding:10px 30px;
	width:100%;
	height:10%;
	font-size:20px;
}
.menu a{
	text-decoration:none;
	color:var(--color-b);
}
@media screen and (min-width: 1024px)
{
	.menu{
		position:fixed;
		right: 10px;
		top:10px;
		font-size:20px;
	}
}
@media screen and (max-width: 1024px)
{
	.menu{
		width:100%;
		font-size:10px;
		padding:10px;
		border-bottom: 1px solid var(--color-a);
		border-top: 1px solid var(--color-a);
	}
	.menu>div{
		width: 25%;
		font-size: 14px;
		padding: 2px 6px;
	}
}

.active-page{
	border-bottom: 2px solid var(--color-a)
}

/*Sketch pad*/

/* Some CSS styling */
.sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	box-sizing:border-box;
}
.sketch-div, #canvas-boxes{
	position: relative;
}
.tools-div{
	position:absolute;
	z-index:3;
	bottom:20px;
	right:20px;
}
#btn-ctx{
	border:none;
	padding:5px;
	background: var(--color-c);
	color:white;
}
#btn-ctx:hover{
	background: var(--color-a);
}
#res-close{
    position: absolute;
    top: 10px;
    right: 10px;
	font-size: 14px;
	color:white;
}
#res-close:hover{
	color:var(--color-c);
}
.sketch-box{
	background: white;
	color:black;
}